<p id="notice"><%= notice %></p>

<h1>Listing Resturants</h1>

<table class="table table-hover table-condensed  table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resturants.each do |resturant| %>
      <tr>
        <td><%= resturant.name %></td>
        <td><%= resturant.address %></td>
        <td><%= resturant.phone %></td>
        <td><%= resturant.website %></td>
        <td><%= link_to 'Show', resturant, class:"btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_resturant_path(resturant), class:"btn btn-link"  %></td>
        <td><%= link_to 'Destroy', resturant, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-link"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resturant', new_resturant_path, class:"btn btn-link"  %>
